/* banner */
.banner__container figure {
    width: 60rem;
    height: 50rem;
    margin: 20rem;
}
.banner__title h1 {
    font-size: 8rem;
}



/* first section*/
.fs {
    padding: 5rem 7rem 5rem 7rem;
}
.fs__article h1 {
    font-size: 8rem;
    text-align: left;
}
.fs__main-header {
   height: 50%;
   display: flex;
   align-items: center;
}

.fs__container {
    grid-template: 1fr  / 2fr 1fr 1fr;
    height: auto;
}
.fs__header {
    font-size: 4rem;
    text-align: left;
}
.fs__paragraph{
    align-self: center;
    font-size: 1.8rem;

}


/* second section */

.ss {
    padding: 5rem 7rem 5rem 7rem;
}
.slide {
    padding: 0 14rem 2rem 0;
}
.slide div {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.slide h1 {
    font-size: 8rem;

}
.slide figure {
    width: 60rem ;
    height: 30rem ;
}
.slide p{
    text-align: center;
    font-size: 2rem;
    width: 80%;
}


/* form */
.contact {
    width: 30%;
    height: 5rem;
    cursor: pointer;
}


@media (min-height: 800px) {
    .banner__container figure {
        width: 80rem;
        height: 60rem;
        margin: 20rem;
    }
    .banner__title h1 {
        font-size: 10rem;
    }
    
}