.header__banner figure {
    width: 33rem;
    height: 30rem;
    margin: 3rem;
}
.about__paragraph--second, .about__paragraph--third {
    font-size: 1.5rem;
}
.slide h1 {
    margin-top: 3rem;
}

.slide p {
    margin-top: 3rem;
    font-size: 1.5rem;
}


.article__cusco,
.article__mapi {
    font-size: 1.5rem;
}
