* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}

@font-face {
    font-family: 'Bree Serif';
    src: url('../fonts/bree-serif-v16-latin-regular.ttf') format('truetype'),
         url('../fonts/bree-serif-v16-latin-regular.woff') format('woff'),
         url('../fonts/bree-serif-v16-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/volkhov-v15-latin-regular.ttf') format('truetype'),
         url('../fonts/volkhov-v15-latin-regular.woff') format('woff'),
         url('../fonts/volkhov-v15-latin-regular.woff2') format('woff2');

}
@font-face {
    font-family: 'Raleway Light';
    src: url('../fonts/static/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Regular';
    src: url('../fonts/static/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('../fonts/static/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Semibold';
    src: url('../fonts/static/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Extrabold';
    src: url('../fonts/static/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-VariableFont_wght.ttf') format('truetype');
}

/* header and images part1 */

.header {
    background-color: black;
    width: 100vh;
    height: 100%;
    width: auto;
}
.banner-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #221e20;
    overflow-x: hidden; 

}

.header__banner {
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    overflow:hidden;
    white-space: nowrap;
    animation: card-shift 20s linear infinite;

}
.header__banner figure {
    display: flex;
    width: 22rem;
    height: 20rem;
    background-image: linear-gradient(to bottom, rgba(39, 35, 35, 0.281) 0%,rgba(0,0,0,0.65) 100%);
    margin: 2rem;
}

.header__banner img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* text */
.header__div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-family: 'Bree Serif', serif;
    color: #fefefe;
    font-weight: 590;
    font-size: 4rem;
    position: relative;
    z-index: 1;
}

/* navegation part2 */

.nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fefefe;
    width: 100%;
    height: 4rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__header{
    margin: 0 0 0 10px;
}
.nav__header h1{
    font-family: 'Bree Serif',serif;
    font-size: 3rem;
}

/* hamburger burger */
#hamburger-icon {
    margin: auto 0;
    display: block;
    cursor: pointer;
    margin-left: 0;
    padding: 0 10px 0 0;
}

/* style hamburger */
#hamburger-icon div {
    width: 3rem;
    height: 0.2rem;
    background-color: black;
    margin: 7px 0;
    transition: 0.4s;
}
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.menu-mobile__ul{
    display:none;
    position: absolute;
    left:0;
    background-color: #fefefe;
    padding: 25px;
}
.menu-mobile__ul a{
    color: #221e20;

}
.open .menu-mobile__ul{
    display: flex;
    z-index: 20;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    min-height: 100%;
    font-family: 'Volkhov', serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}
.menu-mobile__ul li{ 
    border-bottom: 1px solid #231f20;
    padding: 1.58824rem 0;
    
}



/* animation with keyframes for images in header */
@keyframes card-shift {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}


/* sections and more */

/* first section */

.main_about {
    width: 100%;
    height: 100vh;
    padding: 4rem 2rem 4rem 2rem;
    background-color: #fefefe;
}

.line {
    height: 1px;
    width: 100%;
    background-color: currentColor;
    display: block;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}
.about__head {
    font-family: 'Raleway Light',sans-serif;
}
.about__header h1 {
    font-family: 'Raleway Extrabold', sans-serif;
    font-size: 5rem;
    margin-bottom: 3.5rem;
    text-align: center;
}
.about__paragraph--first {
    font-family: 'Raleway Semibold', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3.5rem;
}
.about__paragraph--second, .about__paragraph--third {
    font-family: 'Raleway Regular', sans-serif;
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 2rem;

}

/* second section */


.main_service{
    width: 100%;
    height: 100vh;
    background-color: #231f20;
    padding: 4rem 2rem 4rem 2rem;
    overflow-x: hidden;
}   
.service__head{
    color: #fefefe;
    font-family: 'Raleway Light',sans-serif;
}

/* slides */

.slide figure {
    width: 20rem;
    height: 20rem;
    display: flex;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}


.slider-container {
    display: inline-flex;
    transform: translateX(0); /* to move the slide with js*/
    transition: transform 0.3s ease-out; 
    cursor: grab;
}
.slide {
    max-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 0 3rem 2rem 0;
    user-select: none;
}
.grabbing { 
    cursor: grabbing;
}
.grabbing .slide img {
    transform: scale(0.9);
}


/* styling text and more of service section*/
.slide {
    color: #fefefe;
}

.m-amater--container,
.m-cabeza--container,
.m-piedra--container,
.m-reju--container,
.m-tejido--container,
.m-kobido--container,
.m-pies--container,
.m-reductor-container,
.m-chakra--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slide h1 {
    margin-top: 1rem;
    font-family: 'Raleway Extrabold', sans-serif;
    font-size: 3rem;
    text-align: center;
}
.slide p {
    margin-top: 1.5rem;
    font-family: 'Raleway Regular', sans-serif;
    font-size: 1.3rem;
    text-align: left;
    /* word-spacing: -2px; */
}

/* third section places */

.main_places {
    height: 100vh;
    width: 100%;
    background-color: #fefefe;
    padding: 4rem 2rem 4rem 2rem;

}
.places__head {
    color: #221e20;
    font-family: 'Raleway Light',sans-serif;
}
/* .places_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

.places_container h2 {
    font-family: 'Raleway Extrabold', sans-serif;
    font-size: 3rem;
}
.places_container p {
    margin: 1rem;
}
.places_container figure {

}
.places_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article__cusco figure {
    display: flex;
    width: 20rem;
    height: 10rem;
    margin: 1rem;
}
.article__mapi figure {
    display: flex;
    width: 20rem;
    height: 10rem;
    margin: 2rem;
}
.article__cusco--container {
    display: flex;
    flex-direction: column;
}

.article__cusco,
.article__mapi {
    font-family: 'Raleway Regular', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
















