.header__banner figure {
    width: 60rem;
    height: 40rem;
    margin: 4rem;
}

.header h1 {
    font-size: 6rem;
}


.about__article--container {
    display: flex;  
}

.about__header h1 {
    text-align: left;
    font-size: 6rem;
    margin: 5rem 0 6rem 0;
}

.about__paragraph--first {
    font-size: 4rem;
    margin: 3rem 0 2rem 0;
}
.about__paragraph--second, .about__paragraph--third{
    font-size: 2rem;
    padding: 2rem;
}
.about__paragraph--second {
    margin: 2rem 0 2rem 5rem;

}
.about__paragraph--third {
    margin: 1rem 0 2rem 5rem;
}


.slide figure {
    width: 50rem;
    height: 30rem;
    margin-top: 3rem;
}
.slide h1 {
    margin-top: 3rem;
    font-size: 5rem;
}

.slide p {
    margin-top: 3rem;
    font-size: 2rem;
}
.article__cusco figure {
    width: 24rem;
    height: 15rem;
    margin: 0.5rem;
}
.article__mapi figure {
    width: 48rem;
    height: 16rem;
    margin: 2rem;
}

.places_container h2 {
    font-size: 4rem;
    margin: 0 0 3rem 0;
}

.article__cusco,
.article__mapi {
    font-size: 1.8rem;
}
